.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
baizor-ocr-service/
*.log
/web/node_modules
/web/default/node_modules
/web/default/dist
/web/node_modules
!THIRD-PARTY-LICENSES.md
